# --- GT backend ---
GT_PORT=4010
GT_BASE_PATH=/api
GT_DB_SCHEMA=tarifas
GT_REQUIRED_ROLE=gt-user
GT_CORS_ORIGINS=http://localhost:5173

# PostgreSQL (compartido con el monolito)
PGHOST=postgres
PGPORT=5432
PGUSER=doxia
PGPASSWORD=doxia
PGDATABASE=doxia

# Keycloak (Auth compartido)
KEYCLOAK_ISSUER=http://keycloak:8080/realms/doxia
KEYCLOAK_JWKS_URI=http://keycloak:8080/realms/doxia/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=gt-backend
